body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 70%;
}

code {
    background-color: #eee;
    border-radius: 5px;
    font-family: courier, monospace;
    padding: 0 3px;
}